// border-radius //

.bora-full {
  border-radius: 100%;
}

.bora-5 {
  border-radius: 0.5rem;
}

.bora-10 {
  border-radius: 1rem;
}

.bora-15 {
  border-radius: 1.5rem;
}

.bora-20 {
  border-radius: 2rem;
}