// height //

.h-full {
  height: 100%;
}

.h-fit-content {
  height: fit-content;
}

.h-16 {
  height: 1.6rem;
}

.h-30 {
  height: 3rem;
}

.h-40 {
  height: 4rem;
}

.h-50 {
  height: 5rem;
}

.h-60 {
  height: 6rem;
}

.h-70 {
  height: 7rem;
}