@import './variable';

// background //

.background-none {
  background: none;
}

.b-white300 {
  background: $white-300;
}

.b-white400 {
  background: $white-400;
}

.b-white500 {
  background: $white-500;
}

.b-white600 {
  background: $white-600;
}

.b-white700 {
  background: $white-700;
}

// color //

.color-none {
  color: none;
}

.c-black300 {
  color: $black-300;
}

.c-black400 {
  color: $black-400;
}

.c-black500 {
  color: $black-500;
}

.c-black600 {
  color: $black-600;
}

.c-black700 {
  color: $black-700;
}

