// white //

$white-300: #ffffff;
$white-400: #f5f5f5;
$white-500: #ebebeb;
$white-600: #e0e0e0;
$white-700: #d6d6d6;

// black //

$black-300 : #3D3D3D;
$black-400 : #333333;
$black-500 : #292929;
$black-600 : #1F1F1F;
$black-700 : #141414;

// font //

$Roboto : 'Roboto', sans-serif;