// width //

.w-full {
  width: 100%;
}

.w-fit-content {
  width: fit-content;
}

.w-16 {
  width: 1.6rem;
}

.w-30 {
  width: 3rem;
}

.w-40 {
  width: 4rem;
}

.w-50 {
  width: 5rem;
}

.w-60 {
  width: 6rem;
}

.w-70 {
  height: 7rem;
}

.w-120 {
  width: 12rem;
}

.w-280 {
  width: 28rem;
}